*{
  box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 200;
  background-color: #EAC6D6;
  /* background-color: #F6C0B2; */
  /* background-color: #F6C8C8; */
}
a{
  cursor: pointer;
  color: white;
}
.firstsection{
  background: linear-gradient(rgba(191, 191, 191, 0.3),rgba(191, 191, 191, 0.3)),
   url("img/morph/1.png");
  background-repeat: no-repeat;
  background-position: center center;
  /* background: url("img/bg.jpg") no-repeat center center; */
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}
/******NAV*****/

.navcontainer{
  padding: 0px;
}
.navcontainer nav{
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 22vh;
  padding: 8px;
  border-radius: 0px 0px 10px 10px;
  z-index: 9990;

}
#logo{
  float: left;
  height: auto;
  margin-top: 40px;
  margin-left: 40px;
  display: inline-block;
  outline: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 1.2px;
  font-weight: 600;
  cursor: pointer;
}
.hidden{
  display: none;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: static;
}
nav div ul li:first-child{
  margin-left: 48px;
}
nav div ul li:last-child{
  margin-right: 24px;
}
nav div ul li a, .name{
  display: inline-block;
  outline: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
a:visited{
  color: white;
  text-decoration: none;
}
.active{
 border-bottom: 1.5px solid white;
 margin-bottom: -12px;
 padding-bottom: 10.5px;
}
/*** Page 1 ***/
.page1content{
  padding: 25% 25% 25% 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .introText{
   padding: 0px;
   display: inline-block;
   position: absolute;
   display: flex;
   flex-direction: column;
   color: #F4F3EF;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 2.5em;
   letter-spacing: 1.2px;
   font-weight: 600;
 }
 .introText ul li{
   margin: 0px;
 }
 .typing{
   margin: 0 10px 0 0;
   /* margin-left: 10px; */
 }
 .typing::after {
   content:"";
   position: absolute;
   width: 1px;
   height: 24%;
   border-right: 2px solid white;
   animation: blink 0.5s infinite ease;
   /* margin-left: 3px; */
 }
 @keyframes blink {
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
 }


 /*** Page 2 ***/
 .page2{
   background-color: white;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .page2content{
   width: 80%;
   min-height: 60vh;
   background: url("img/morph/1.png");
   /* background: url("img/code.jpg"); */
   background-size: cover;
   background-repeat: no-repeat;
   /* background-color: rgba(246, 192, 178, 1); */
   /* background: #F6C0B2; */
   /* background: #F9D8D5; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* flex-direction: column; */
   border-radius: 50px;
 }
 .title{
   margin: 5% 10% 2% 10%;
  border: solid 2px white;
  background-color: white;
  width: 80%;
  height: 40px;
  text-align: center;
  color: black;
  border-radius: 20px;
}
 .container {
   margin: 0px 0px 20px 20px;
   position: relative;
   width: 40%;
   max-height: 230px;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: 0px 0px 18px #21295C60;

 }
 .image {
   display: block;
   width: 100%;
   max-height: 230px;
   border-radius: 20px;
 }
 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: rgba(0, 0, 0, 0.25);
   /* background-color: rgba(255, 255, 255, 0.7); */
   border-radius: 20px;
 }
 .container:hover .overlay {
   opacity: 1;
 }
 .text {
   color: white;
   font-size: 20px;
   position: absolute;
   border-radius: 20px;
   background-color: white;
   color: black;
   font-size: 16px;
   padding: 16px 32px;
   cursor: pointer;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }

 /**** Page 3 ****/
 .page3{
   background: url("img/morph/1.png") no-repeat center center;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
 }
 .page3content{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
 }
 .mystory{
   width: 70%;
   display: flex;
   align-self: center;
 }
 .me{
   width: 60vh;
   height: auto;
   display: flex;
   align-self: center;
   margin-bottom: 15px;
   border-radius: 20px;
 }

 /***FOOTER***/
 footer{
   margin: 0px;
   padding: 0px;
   background-color: rgba(0, 0, 0, 0.2);
   /* background-color: #F6C0B2; */
   /* background-color: #F6C8C8; */
   width: 100%;
   height: 25vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   text-align: center;
  overflow: hidden;
 }
 footer ul{
   font-size: 1.3em;
   outline: none;
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1em;
   letter-spacing: 1.2px;
   font-weight: 600;
 }
 footer ul a{
   margin-bottom: 20px;
   text-decoration: none;
   list-style: none;
   color: white;
 }
 footer ul li {
   margin-top: 10px;
   margin: 5px;
   color: white;
   cursor: pointer;
   list-style: none;
   font-size: 0.9em;
 }
 .companieshouse{
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: auto;
   background-color: #F6C8C8;
 }
 .footer{
   text-decoration: none;
 }


/*********** KBL Solutions ***********/

#kblSolutionsBody{
  padding: 0px;
  margin: 0px;
  background: linear-gradient(rgba(191, 191, 191, 0.2),rgba(191, 191, 191, 0.2)),
   url("img/morph/1.png");
   background-repeat: repeat;
   background-color: #FDECAF;
  /* background-color: #FEF0A9; */
  /* background-color: #FCF5B1; */
}
.kblMain{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.kblBanner{
  padding: 0px 0px 0px 0px;
  margin: 20vh 10% 5px 10%;
  width: 80%;
  height: 40vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  font-size: 1em;
}
#black{
  color: black;
  cursor: pointer;
}
#hyperlink{
 cursor: pointer;
 color:  #0000EE;
}

.kblBanner a img{
  margin-top: 10px;
}
.kblContent{
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
  width: 100%;
  background-color: #EBEBEB;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 0px;
}
#container {
  margin: 3px;
  position: relative;
  width: 30%;
  max-height: 500px;
  cursor: pointer;
  border-radius: 20px;
}
#image {
  display: block;
  max-width: 100%;
  max-height: 500px;
  border-radius: 20px;

}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 500px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius: 20px;
}
#container:hover #overlay {
  opacity: 1;
}
#text {
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/*********** Resource Pages ********/
#resourceBody{
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("img/morph/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-color: #F1E3B2;
}
.mainSection, .myStory{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.resourceMain{
  margin: 2% 10% 0 10%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.myStoryWrap{
  margin: 0 10% 0 10%;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.img-box{
  margin: 0px;
  width: 50%;
  /* border: solid 2px white; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img-box img{
  /* max-width: 95%; */
  max-height: 35vh;
  box-shadow: 0px 0px 18px #21295C60;
}
.img-box img:hover{
  box-shadow: 2px 2px 12px rgba(60,60,60,0.7);
}
.text-box{
  padding: 15px;
  /* border: solid 2px white; */
  width: 50%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
}
.text-box-content{
    font-size: 1.01em;
    border: solid 2px white;
    border-radius: 10px;
    height: 30vh;
    text-align: center;
    vertical-align: middle;
}
.text-box-content p{
  padding: 0px 5px 0px 5px;
  margin-top: 5%;
}
.green{
  background-color: #8cca8c;
}
.yellow{
  background-color: #FCF5B1
}
.pink{
  background-color: #F6C8C8;
}

.me{
  width: 100%;
  display: flex;
  justify-content: center;
}
.picOfMe{
  max-width: 500px;
  border-radius: 20px;
}

/**** Contact ****/
#contactBody{
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
   url("img/morph/1.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#mobileTap{
  display: none;
}
.contactText{
  padding: 3% 15% 1% 15%;
}
.contactText, .thanks{
  text-align: center;
  color: #F4F3EF;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 1.2px;
  font-weight: 600;

}

.form{
  width: 100%
  height: 90vh;
  display: flex;
  justify-content: center;
}
form{
  position: absolute;
  padding: 0px;
  border: solid 2px black;
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  border-radius: 30px;
}
form input{
  padding: 0px;
  width: 380px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
form textarea{
  padding: 0px;
  width: 380px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


 /******RESPONSIVE*****/

 @media screen and (max-width: 1320px){
   nav div ul li{
     margin-left: 10px;
     margin-right: 10px;
   }
   nav div ul li:first-child{
     margin-left: 20px;
   }
   nav div ul li:last-child{
     margin-right: 10px;
   }
 }
 @media screen and (max-width: 1170px){
   .contactText{
     padding: 10% 10% 1% 10%;
   }
   form input{
     width: 250px;
     height: 30px;
   }
   form textarea{
     width: 250px;
     height: 100px;
   }
 }
  @media screen and (max-width: 915px){
    #navbar{
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0px;
      border-radius: 0px 0px 10px 10px;
      line-height: 0px;
      z-index: 9990;
    }
    #logo{
      margin: 0px 0 0 0;
      display: flex;
      font-size: 2em;
    }
    #navLinks{
      padding: 0px;
    }
    #navLinks li a{
      font-size: 1rem;
    }
      .introText{
        padding: 0 10px 0 10px;
      }
      .page2{
        min-height: 90vh;
      }
      .projectsWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container{
        margin: 20px;
        width: 60%;
      }
      footer{
        font-size: 0.9em;
      }
  .kblMain{
    display: flex;
    justify-content: center;
  }
  .kblBanner{
    font-size: 0.8em;
  }
  .kblLogo{
    width: 150px;
    height: auto;
  }
  .kblContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #container{
    margin: 0 25% 0 25%;
    width: 50%;
  }
  .resourceMain{
    padding: 0px 0px 0px 0px;
  }
  .img-box{
    width: 100%;
  }
  .text-box{
    width: 100%;
  }
  .text-box-content{
    font-size: 1em;
  }
  .picOfMe{
    max-width: 300px;
    border-radius: 20px;
  }
  form{
    width: 75%;
  }
  form input{
    width: 200px;
    height: 30px;
  }
  form textarea{
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 670px) {
 .text-box-content, .kblBanner, .resourceIntro{
   padding: 0px;
   border: 0px;
   color: black;
   font-weight: bolder;
 }
 .text-box-content p{
   margin: 2px;
   padding: 0px;
   font-size: 1.1em;
 }
 form{
   width: 100%;
 }
 form input{
   width: 250px;
   height: 30px;
 }
 form textarea{
   width: 250px;
   height: 100px;
 }
}
@media screen and (max-width: 500px){
  #logo{
    font-size: 1.8em;
  }
  #hideMe{
    display: none;
  }
  #mobileTap{
    display: block;
  }
  nav div ul li{
    margin: 30px 5px 0px 5px;
  }
  nav div ul li:first-child{
    margin-left: 2px;
  }
  nav div ul li:last-child{
    margin-right: 2px;
  }
  #navLinks{
    font-size: 0.2em;
  }
  .introText{
    font-size: 1.4em;
  }
  .text-box-content{
    font-size: 0.9em;
  }
  footer{
    justify-content: flex-start;
    text-align: left;
  }
  .container{
   width: 95%;
    height: auto;
  }
  .kblBanner{
    font-size: 0.7em;
  }
  #container{
    margin: 0 10% 0 10%;
    width: 80%;
  }
}
 @media screen and (max-width: 375px){
   #logo{
     font-size: 1.5em;
   }
   #footer{
     margin-top: 10%;
   }
   footer{
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     font-size: 0.75em;
   }
   .kblBanner{
     font-size: 0.6em;
   }
   .text-box-content{
     font-size: 0.6em;
   }
 }
